
.card.class-1 .status li em, 
.card.class-1 .level-1, 
.card.class-1 .level-2, 
.card.class-1 .b-lt, 
.card.class-1 .b-rt, 
.card.class-1 .b-lb, 
.card.class-1 .b-rb, 
.card.class-1 .icon, 
.card.class-1 .icon-top, 
.card.class-1 .icon-bot, 
.class-1 .body .b-lt:after, 
.class-1 .body .b-rt:after, 
.class-1 .body .b-lb:after, 
.class-1 .body .b-rb:after, 
.class-1 .body .b-lt:before, 
.class-1 .body .b-rt:before, 
.class-1 .body .b-lb:before, 
.class-1 .body .b-rb:before {
	color: maroon!important;
}
.card.class-1 .back .line, 
.card.class-1 .lined, 
.card.class-1 .status li.second, 
.card.class-1 .b-lt, 
.card.class-1 .b-rt, 
.card.class-1 .b-lb, 
.card.class-1 .b-rb {
      border-color: maroon!important;
}
.card.class-1, 
.card.class-1 .need {
    background-color: maroon!important;
}